<div ng-hide="Ctrl.makeCalls" class="alert alert-danger fade in statusAlert">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Server Offline!</strong>
</div>

<div class="panel panel-default statusAlert">
  <div class="panel-body">
    <button type="button" class="btn btn-success" ng-click="Ctrl.StartServer()">Start Server</button>
    <button type="button" class="btn btn-danger" ng-click="Ctrl.StopServer()">Stop Server</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">Server Status: {{Ctrl.serverStatus ? "Online" : "Offline"}}</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">User Count: {{Ctrl.userCount}}</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">Room Count: {{Ctrl.roomCount}}</div>
</div>
